<div class="keys">
  <div>
    <a class="key input" href="1">
      <div class="button">1</div>
    </a>
    <a class="key input" href="2">
      <div class="button">2 <span>abc</span></div>
    </a>
    <a class="key input" href="3">
      <div class="button">3 <span>def</span></div>
    </a>
  </div>

  <div>
    <a class="key input" href="4">
      <div class="button">4 <span>ghi</span></div>
    </a>
    <a class="key input" href="5">
      <div class="button">5 <span>jlk</span></div>
    </a>
    <a class="key input" href="6">
      <div class="button">6 <span>mno</span></div>
    </a>
  </div>

  <div>
    <a class="key input" href="7">
      <div class="button">7 <span>pqrs</span></div>
    </a>
    <a class="key input" href="8">
      <div class="button">8 <span>tuv</span></div>
    </a>
    <a class="key input" href="9">
      <div class="button">9 <span>wxyz</span></div>
    </a>
  </div>

  <div>
    <a class="key reset" href="reset">
      <div class="button">&#8635;</div>
    </a>
    <a class="key input" href="0">
      <div class="button">0</div>
    </a>
    <a class="key calculate" href="calculate">
      <div class="button">&#8617;</div>
    </a>
  </div>
</div>

<audio id="audio-0" src="http://upload.wikimedia.org/wikipedia/commons/2/2d/Dtmf0.ogg" preload="auto"></audio>
<audio id="audio-1" src="http://upload.wikimedia.org/wikipedia/commons/b/bf/Dtmf1.ogg" preload="auto"></audio>
<audio id="audio-2" src="http://upload.wikimedia.org/wikipedia/commons/7/7d/Dtmf2.ogg" preload="auto"></audio>
<audio id="audio-3" src="http://upload.wikimedia.org/wikipedia/commons/2/28/Dtmf3.ogg" preload="auto"></audio>
<audio id="audio-4" src="http://upload.wikimedia.org/wikipedia/commons/9/9f/Dtmf4.ogg " preload="auto"></audio>
<audio id="audio-5" src="http://upload.wikimedia.org/wikipedia/commons/1/1c/Dtmf5.ogg" preload="auto"></audio>
<audio id="audio-6" src="http://upload.wikimedia.org/wikipedia/commons/7/7b/Dtmf6.ogg" preload="auto"></audio>
<audio id="audio-7" src="http://upload.wikimedia.org/wikipedia/commons/9/9f/Dtmf7.ogg" preload="auto"></audio>
<audio id="audio-8" src="http://upload.wikimedia.org/wikipedia/commons/f/f7/Dtmf8.ogg" preload="auto"></audio>
<audio id="audio-9" src="http://upload.wikimedia.org/wikipedia/commons/5/59/Dtmf9.ogg " preload="auto"></audio>
