<div class="keys">
  <div>
    <a class="key input" href="1">
      <div class="button">1</div>
    </a>
    <a class="key input" href="2">
      <div class="button">2 <span>abc</span></div>
    </a>
    <a class="key input" href="3">
      <div class="button">3 <span>def</span></div>
    </a>
  </div>

  <div>
    <a class="key input" href="4">
      <div class="button">4 <span>ghi</span></div>
    </a>
    <a class="key input" href="5">
      <div class="button">5 <span>jlk</span></div>
    </a>
    <a class="key input" href="6">
      <div class="button">6 <span>mno</span></div>
    </a>
  </div>

  <div>
    <a class="key input" href="7">
      <div class="button">7 <span>pqrs</span></div>
    </a>
    <a class="key input" href="8">
      <div class="button">8 <span>tuv</span></div>
    </a>
    <a class="key input" href="9">
      <div class="button">9 <span>wxyz</span></div>
    </a>
  </div>

  <div>
    <a class="key reset" href="reset">
      <div class="button">&#8635;</div>
    </a>
    <a class="key input" href="0">
      <div class="button">0</div>
    </a>
    <a class="key calculate" href="calculate">
      <div class="button">&#8617;</div>
    </a>
  </div>
</div>
